.background {
  margin: -1px;
  padding: 2rem;
}

.container {
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  padding: 2rem 1rem;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  flex-grow: 1;
  max-width: 1350px;
  margin-bottom: 5vw;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px) saturate(120%);
  -webkit-backdrop-filter: blur(30px) saturate(120%);
  border: 2px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(40px);
  box-shadow: 0px 20px 40px 0px #00000040;
  width: 60%;
  max-width: 700px;
  height: 130px;
  min-height: 130px; 
  opacity: 1;
  margin-right: auto;
  border-radius: 40px;
  border-width: 1px; 
  margin: 50px auto 0 auto; 
  padding: 25px 20px;
  font-family: Oswald;
  font-size: clamp(3rem, 3vm, 5 rem);
  font-weight: 600;
  font-style: SemiBold;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8B1B4C;
}

/* For medium screens */
@media (max-width: 1024px) {
  .container {
    margin-bottom: 40vw; /* Adjust margin for medium screens */
  }

  .schedule {
    width: 50%;
    font-size: 2rem;
    padding: 1rem 5rem;
    font-size: clamp(2rem, 7vw, 3rem);

  }
}

/* For very small screens */
@media (max-width: 768px) {
  .container {
    margin-bottom: 50vw; /* Adjust margin for extra small screens */
  }

  .schedule {
    width: 70%;
    font-size: clamp(2rem, 7vw, 3rem);
    padding: 1rem 2rem;
  }
}

/* For very very small screens */
@media (max-width: 390px) {
  .container {
    margin-bottom: 50vw; /* Adjust margin for extra small screens */
  }

  .schedule {
    width: 60%;
    font-size: 1.3rem; 
    padding: 1rem 2rem;
  }
}

.sponsor {
  width: 10rem;
  height: 10rem;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sponsor:hover {
  cursor: pointer;
  transform: scale(1.02);
}
