.findusContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px) saturate(120%);
  -webkit-backdrop-filter: blur(30px) saturate(120%);
  border: 2px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(40px);
  box-shadow: 0px 20px 40px 0px #00000040;
  width: 60%;
  max-width: 700px;
  height: 130px;
  min-height: 130px; 
  opacity: 1;
  margin-right: auto;
  border-radius: 40px;
  border-width: 1px; 
  margin: 150px auto 0 auto; 
  padding: 25px 20px;
}

.findUs{

width: 442px;
height: 70px;
top: 1163px;
left: 651px;
opacity: 1;
font-family: Oswald;
font-size: clamp(3rem, 3vm, 5 rem);
font-weight: 600;
font-style: SemiBold;
font-size: 70px;
line-height: 100%;
letter-spacing: 0%;
color: #8B1B4C;


}

.mapContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px) saturate(120%);
  -webkit-backdrop-filter: blur(30px) saturate(120%);
  border: 2px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(40px);
  box-shadow: 0px 20px 40px 0px #00000040;
  width: 90%;
  max-width: 900;
  height: auto;
  min-height: 130px;
  opacity: 1;
  margin-top: 100;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  border-width: 1px;
  margin: 150px auto 0 auto; 
  padding: 25px 20px;
}

.mapImage{
  width: 100%;
  max-width: 850;
  height: auto;
  min-height:  130px;
  border-radius: 40px;
  border-width: 20px;
}

@media (max-width: 1000px){
  .findUs{
    font-size: clamp(3rem, 7vw, 8rem);
    margin: 5px auto 0 auto;
    text-align:center;
  }
}

@media (max-width: 800px){
  .findUs{
    font-size: clamp(2rem, 7vw, 3rem);
    margin: 25px auto 0 auto;
  }
}

@media (max-width: 600px){
  .findUs{
    font-size: clamp(1.5rem, 7vw, 3rem);
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 500px){
  .findUs{
    font-size: clamp(1.25rem, 8vw, 2.5rem);
    margin: 40px auto 0 auto;
  }
}